.list {
    $_: '.list';
    @media (max-width: 1024px) {
        &--top-menu {
            display: none;
        }
    }

    @media (max-width: 375px) {
        &--menu-page {
            #{$_}__link {
                font-size: 40px;
            }
        }
    }
}
