html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

* html .page__wrapper {
    height: 100%;
}

.no-image {
    font-family: 'Proxima Nova Lt';
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
