html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

* html .page__wrapper {
    height: 100%;
}

.no-image {
    font-family: 'Proxima Nova Lt';
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.mt-40 {
    margin-top: 2.5rem;
}
.mt-100 {
    margin-top: 6.25rem;
}
.mt-lg-154 {
    @media screen and (min-width: 1025px) {
        margin-top: 154px;
    }
}
.mt-md-11 {
    @media (min-width: 376px) and (max-width: 1024px) {
        margin-top: 11px;
    }
}
