mixin project(data)
  -const colorClass = data.color ? 'card--' + data.color:''
  
  .project
    .project__card
      .card.card--horizontal.mt-40(class= colorClass)
        .card__img.no-border
          unless data.png
            != pugHelpers.Icon.call(locals, {iconName: data.icon, className: 'icon icon--'+data.icon})
          else
            img(src=`%=static=%img/content/${data.icon}` alt= data.title, title= data.title)
        .card__content
          .card__title= data.title
          .card__desc= data.desc
    .project__block
      .block.block--text
        .block__title Заголовок
        .block__subtitle Подзаголовок
        .block__text
          p Текст текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст
          p Текст текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        .block__subtitle Подзаголовок
        .block__text
          p Текст текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст
          p Текст текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
      .block.block--list
        .block__title Заголовок
        .list.list--styled
          .list__title Подзаголовок
          ul.list__content
            li.list__item Пункт пункт пункт пункт пункт пункт пункт пункт
            li.list__item Пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт
            li.list__item Пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт
            li.list__item Пункт пункт пункт пункт пункт пункт пункт пункт
            li.list__item Пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт пункт