.card {
    $_: '.card';
    @media (max-width: 1024px) {
        &--form {
            justify-content: center;
        }
        &--header {
            flex-direction: column;
            align-items: center;
            #{$_}__img {
                margin: 6px 0 40px;
            }
            #{$_}__content {
                text-align: center;
            }
            #{$_}__meta {
                justify-content: center;
            }
        }
        &--h {
            margin-top: 100px;
            #{$_}__img {
                justify-content: center;
                position: relative;
                left: 20px;
            }
            #{$_}__title {
                margin-top: 50px;
            }
            #{$_}__content {
                text-align: center;
            }
            &:nth-child(even) {
                .row {
                    flex-direction: row;
                }
                #{$_}__img {
                    justify-content: center;
                }
            }
        }
    }
    @media (max-width: 375px) {
        &--h {
            #{$_}__img {
                position: relative;
                left: 20px;
            }
            #{$_}__title {
                font-size: 40px;
            }
        }
        &--v {
            #{$_}__title {
                font-size: 28px;
            }
            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
}
